@model IEnumerable<DoroboShop.Models.ProductViewModel>

@foreach (var item in Model)
{
    <a href="@Url.Action("SearchProductById", "Product", new { id = item.Id })">
        <div class="block-product">
            <img src="@item.Photo" class="product-image" />
            <h3 class="data-of-product">@item.ProductName</h3>
            <h3 class="data-of-product">@item.Brand</h3>
            <label class="price-of-product">@item.Price $</label>
        </div>
    </a>
}
