@using DoroboShop.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



<div class="row login-wrap" style="text-align:center !important">
    <div class="col-md-8 login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab my-tab">Sign in</label>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="local-account">Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="group" style="padding-bottom: 3%;">
                    <label for="pass" class="my-label label-login">EMAIL ADDRESS</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control my-input" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="group" style="padding-bottom: 3%;">
                    <label for="pass" class="my-label label-login">PASSWORD</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control my-input" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div style="color: white; padding-bottom: 1%;">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "remember-me" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "remember-me-label" })
                    </div>
                </div>

                <div style="margin-bottom: 2%;">
                    <input type="submit" value="LOG IN" class="btn btn-info btn-login-log btn-sign-in" style="margin-top: 2%;" />
                </div>

                <p class="p-acc">
                    @Html.ActionLink("DON`T HAVE AN ACCOUNT?", "Register", new { @class = "dont-have-an-acc" })
                </p>

                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>

            }
        </section>
    </div>

    <hr />
    <br />
    <div class="col-md-4 soc-log-forum">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

